<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>persons site</title>
<link rel="stylesheet" th:href="@{/css/stile.css}"
	href="../static/css/stile.css">
</head>

<body>
	<table>
		<tr>
			<th>book name</th>
			<th>book description</th>
			<th>book year</th>			
		</tr>
		<tr th:each="book : ${books}">
			<td
				th:text="${book.name}"></td>
			<td
				th:text="${book.description}"></td>
			<td th:text="${book.releaseYear}"></td>
		</tr>
	</table>
	<form method="POST" action="/book">
		<label> Название книги
			<input name="bookName" type="text">
		</label> 
		<br>
		<label> Описание книги 
			<input name="bookDescription" type="text">
		</label>
		<br>
		<label> Описание книги 
			<input name="bookReleaseDate" type="number">
		</label>
		<br>
		<button type="submit">добавить книгу</button>
	</form>
</body>
</html>