<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>persons site</title>
<link rel="stylesheet" th:href="@{/css/stile.css}" href="../static/css/stile.css">
</head>

<body>
	<header>
		<nav class="main-navigation">
			<ul class="main-navigation-list">
				<li><a th:hfer="@{/}">home</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">admin resource</a></li>
				<li><a th:href="@{/login}">login</a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/userinfo}"><span sec:authentication="name"></span></a> <a th:href="@{/logout}">Sign Out</a></li>
			</ul>
		</nav>
	</header>

	<div>

		<a th:href="@{/student}" href="student.html">hw lesson 4, 6 - students</a>
		<br>
		<a th:href="@{/book}" href="book.html">hw lesson 5 - mvc thymeleaf</a>
		<br>
		<a th:href="@{/human}" href="human.html">humans table from model</a>

		<form class="summa-resu-function" action="/math/summ" method="post">
			<p>summa with rest return</p>
			<label>
				first number
				<input name="a" type="number">
			</label>
			<br>
			<label>
				second number
				<input name="b" type="number">
			</label>
			<br>
			<button>calculate summ</button>
		</form>

	</div>

	<footer>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</footer>
</body>
</html>