<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>persons site</title>
<link rel="stylesheet" th:href="@{/css/stile.css}" href="../static/css/stile.css">
</head>

<body>
	<header>
		<nav class="main-navigation">
			<ul class="main-navigation-list">
				<li>
					<a th:href="@{/}">home</a>
				</li>
				<li sec:authorize="hasRole('ROLE_ADMIN')">
					<a th:href="@{/admin}">admin resource</a>
				</li>
				<li>
					<a th:href="@{/login}">login</a>
				</li>
				<li sec:authorize="isAuthenticated()">
					<a th:href="@{/userinfo}">
						<span sec:authentication="name"></span>
					</a>
					<a th:href="@{/logout}">Sign Out</a>
				</li>
			</ul>
		</nav>
	</header>
	<section>
		<form th:object="${user}" method="post" action="/registration/add">
			<label>
				Name:
				<input th:field="*{username}" type="text">
				<span class="validation-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</span>
			</label>
			<br>
			<label>
				Password:
				<input th:field="*{password}" type="text">
				<span class="validation-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span>
			</label>
			<br>
			<label>
				confirmPassword:
				<input th:field="*{confirmPassword}" type="text">
				<span class="validation-error" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">confirmPassword error</span>
			</label>
			<br>
			<label>
				newRole:
				<input th:field="*{newRole}" type="text">
				<span class="validation-error" th:if="${#fields.hasErrors('newRole')}" th:errors="*{newRole}">newRole error</span>
			</label>
			<br>
			<input type="submit" value="add" />
		</form>
	</section>

</body>
</html>