<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>persons site</title>
<link rel="stylesheet" th:href="@{/css/stile.css}"
	href="../static/css/stile.css">
</head>

<body>

	<table>
		<tr>
			<th>Student Name</th>
			<th>Course</th>
			<th>Score</th>
			<th>Lesson passed</th>
		</tr>
		<tr th:each="academicPerformance : ${academicPerformances}">
			<td
				th:text="${academicPerformance.academicPerformanceId.student.name}"></td>
			<td
				th:text="${academicPerformance.academicPerformanceId.course.name}"></td>
			<td th:text="${academicPerformance.score}"></td>
			<td th:text="${academicPerformance.lessonsCount}"></td>
		</tr>
	</table>
	<a th:href="@{/student/previous}">предыдущая страница</a>
	<a th:href="@{/student/next}">следующая страница</a>
	<p>
		Текущая страница:<span th:text="${pageNumber}"></span>
	</p>
	<form method="POST">
		<label> Минимальный балл 
			<input name="minScore" type="number">
		</label> 
		<br>
		<label> Максимальный балл 
			<input name="maxScore" type="number">
		</label>
		<br>
		<button type="submit">получить</button>
	</form>
</body>
</html>