<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>persons site</title>
<link rel="stylesheet" th:href="@{/css/stile.css}" href="../static/css/stile.css">
</head>

<body>
	<header>
		<nav class="main-navigation">
			<ul class="main-navigation-list">
				<li><a th:href="@{/}">home</a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">admin resource</a></li>
				<li><a th:href="@{/login}">login</a></li>
				<li sec:authorize="isAuthenticated()"><span sec:authentication="name"></span> <a th:href="@{/logout}">Sign Out</a></li>
			</ul>
		</nav>
	</header>

	<p sec:authorize="isAuthenticated()">
		<span sec:authentication="name"></span>
		, welcome to site!!! You have next privileges:
		<span sec:authentication="principal.authorities"></span>
	</p>

</body>
</html>