body {
	font-size: 20px;
}

table, th, tr, td {    
    border: 1px solid black;
    border-collapse: collapse;
}

.main-navigation-list {
	display: flex;
	list-style: none;
	
}

.main-navigation-list li {
	padding-right: 10px;
}

.summa-resu-function, .get-sudent-score-between{
	padding: 10px;
	border: 1px solid black;
	margin: 20px;
	width: 500px;	
}


